doctype html
html
    head
        link(rel="stylesheet" type="text/css" href="../assets/css/style.css")
    body
        h1 FrameToSlackApp
        div(class="app-container")
            div(class="teams-wrapper")
                each team, index in userData.teams
                    div(class="team")
                        h2= team.name
                        div(class="projects-wrapper")
                            each project, indey in team.projects
                                a(href="/app/project/#{project.id}"): div(class="project")
                                    p= project.name
                            p: a(href="/app/project/add")= 'add a Project'
                p: a(href="/app/team/add")= 'add a Team'