doctype html
html
    head
        link
    body
        h1 Mon interface
        div(class="app-container")
            div(class="teams-wrapper")
                each team, index in userData.teams
                    div(class="team")
                        p= team.name
                        div(class="projects-wrapper")
                            each project, indey in team.projects
                                div(class="project")
                                    p= project.name
            p= 'add a team'