doctype html
html
    head
    body
        form(name="login", method="get", action="/frame")
            input(type="text" name="email")
            input(type="password" name="password")
            input(type="submit" name="submit")